.btn{
  background-color:  red;
  color:black;
  border-radius: 10px;
  height: 75px;
  width: 150px ;
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 5px white;
 
}
.btn:hover{
  background-color: darkorange;
  transform: scale(1.1);
}
.heading{
  font-size:  50px;
  font-family: monospace;
  text-align: center;
  color: blue;
  padding-left: 420px;
}
.container{
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-left: 420px;

}